body{
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.outline{
  width: 350px;
  margin: 35px auto;
}

.mainWrapper{
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius:  8px;
}

.temp{
  width: 50%;
  text-align: center;
  height: 200px;
  float: left;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.button{
  height: 50px;
}

.wrapper{
  width: 50%;
  float: right;
  text-align: center;
  line-height: 90px;
  font-size: 20px;
}

#icon > img{
  width: 90px;
}

#geo{
  width: 300px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  line-height: 55px;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
